@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root{
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;

}

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    font-family: var(--fonte1);
    min-width: 100vh;
    background-color: darkgrey;
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header > h1{
    font-family: var(--fonte2);
    padding-top: 50px;
    font-variant: small-caps;
    font-size: 10vw;
}

h2{
    padding-left: 50px;
    background-color: rgba(0, 0, 0, 0.619);
    border: 10px black solid;
    border-radius: 10px;
}

header > p{
    padding-bottom: 50px;
}

a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    padding-right: 30px;
    font-family: var(--fonte3);
    font-size: 3vw;
}
section > p{
    padding-bottom: 2em;
}

a:hover{
    text-decoration: underline;
}

section.imagem{
    background-color: lightcoral;
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.675);
    background-attachment: fixed;
}

section.imagem > p{
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.348);
    padding: 10px;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.768);
}

section#img1{
    background-image: url(../imagens/imagem\ 1.jpg);
    background-position: right center;
    background-size: cover;

}

section#img2{
    background-image: url(../imagens/imagem\ 2.jpg);
    background-position: right center;
    background-size: cover;

}

section#img3{
    background-image: url(../imagens/imagem\ 3.jpg);
    background-position: right center;
    background-size: cover;

}

footer{
    background-color: black;
    text-align: center;
    color: white;
    padding: 6px;
}

#wrapper {
    padding-top: 150px;
    background: #02cc89ab;
    text-align: center;
    margin-top: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#wrapper div, #wrapper ul {
    width: 50%;
    max-width: 500px;
    padding-top: 30px;
}

.quiz {
    padding-bottom: 100px;
}

ul {
    padding: 0px;
}

#titulo {
    font-size: 20px;
    font-weight: bold;
    background: white;
    padding: 10px;
}

.alternativa {
    list-style-type: none;
    margin-bottom: 4px;
    padding: 10px;
    background: #E6E6E6;
}

.alternativa:hover {
    cursor: pointer;
    opacity:0.8;
}

#result {
    font-weight: bold;
}

#pontos, #result {
    color: white;
    font-size: large;
    font-weight: 900;
    padding-bottom: 100px;
}